<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csh.community.dao.PublishMapper">

    <insert id="createMapper" useGeneratedKeys="true" keyProperty="id">

        <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
            select quest_SEQ.nextval  as id from  dual
        </selectKey>
        INSERT INTO question(id,title,description,creator,tag,gmtCreate,gmtModified) VALUES (#{id},#{title},#{description},#{creator},#{tag},#{gmtCreate},#{gmtModified})
    </insert>

    <select id="getAllQuestion" resultType="com.csh.community.pojo.Question">
        SELECT * FROM question q order by q.gmtcreate desc
    </select>

    <!--List<Question> getQuestionById(Integer id);-->

    <select id="getQuestionById" resultType="com.csh.community.pojo.Question">
        SELECT * FROM question where creator = #{id}
    </select>

    <!--Question getPersonalQuestion(Integer id);-->
    <select id="getPersonalQuestion" resultType="com.csh.community.pojo.Question">
        SELECT * FROM question where id = #{id}
    </select>


    <!--void incViewCnt(Integer id);-->

    <update id="incViewCnt">
        update  question q set q.viewcount=(q.viewcount+1) where q.id=#{id}
    </update>

    <!--void incCommentCnt(Integer id);-->
    <update id="incCommentCnt">
        update  question q set q.commentcount=(q.commentcount+1) where q.id=#{id}
    </update>
    <!--void incComment_commentCnt(int i);-->
    <update id="incComment_commentCnt">
        update  commentinfo c set c.commentcount=(c.commentcount+1) where c.id=#{id}
    </update>

    <!--List<Question> getRelatedQuestion(Question question);-->

    <select id="getRelatedQuestion" resultType="com.csh.community.pojo.Question">
        SELECT * FROM question  where REGEXP_LIKE(TAG,#{tag},'i')  and id !=#{id}
    </select>


    <!--void update(Question question);-->

    <update id="update">
        update  question  q set q.title =#{title},q.description=#{description},q.gmtCreate =#{gmtCreate},q.tag=#{tag} where q.id =  #{id}
    </update>



</mapper>