<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csh.community.dao.UserMapper">
    <!--    public Employee getEmpById(Integer id);
     public void insertEmp(Employee employee);-->

    <insert id="insertGitHubUser" useGeneratedKeys="true" keyProperty="id">

    <selectKey keyProperty="id" order="BEFORE" resultType="Integer">
        select uset_sql.nextval  as id from  dual
         </selectKey>
        INSERT INTO GitHubUser(id,accountId,name,token,avatarUrl) VALUES (#{id},#{accountId},#{name},#{token},#{avatarUrl})
    </insert>
    <select id="findByToken" resultType="com.csh.community.pojo.User">
        SELECT * FROM GitHubUser WHERE token=#{token}
    </select>
    <select id="findById" resultType="com.csh.community.pojo.User">
        SELECT u.id,u.accountId,u.name,u.token,u.avatarUrl  FROM GitHubUser u WHERE u.id=#{creator}
    </select>

    <!--User findByAccountId(Integer id);-->
    <select id="findByAccountId" resultType="com.csh.community.pojo.User">
        SELECT u.id,u.accountId,u.name,u.token,u.avatarUrl  FROM GitHubUser u WHERE u.accountid=#{id}
    </select>



    <!--void updateUser(User u);-->
    <update id="updateUser" parameterType="com.csh.community.pojo.User">
        update  githubuser u set u.accountId=#{accountId},u.name=#{name},u.token=#{token},u.avatarUrl=#{avatarUrl} where u.id=#{id}

    </update>



</mapper>

