.main {
    margin: 100px;
    background-color: white;
}

body{

    background-color: #efefef;
}
.btn-publish
{
    float:right;

}

.mycolor{
    color: #999;
}


.community-menu {
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}

.media-object {
    width: 38px;
    height: 38px;
}


.comment-font{
    color: #761c19;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}

.footer {
    text-align: center;
    color: #3c003c;
    margin-bottom: 10px;
}