<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--branch1-->

    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}">
    <script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"
            ></script>

    <link rel="icon" type="image/x-icon" href="../static/image/favicon.ico">
    <!--my.css-->
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{/css/my.css}">
    <script src="/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/bootstrap.js"></script>
    <!---->

</head>
<body>




<nav class="navbar navbar-default" th:fragment="headbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Community</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Community</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class=""><a href="#">搜索关键字： <span class="sr-only">(current)</span></a></li>
                <!--<li><a href="#">Link</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                       <!--aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                </li>

            </ul>
            <!--search-->
            <form class="navbar-form navbar-left" action="/">
                <div class="form-group">
                    <input type="text"  name="search" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>
            <!--右边-->
            <ul class="nav navbar-nav navbar-right">

                <li>
                    <a href="/publish">发布</a>
                </li>
                <li>
                    <a href="/personal/replies" th:if="${session.user!=null}">通知
                        <span class="badge" style="color:crimson;" th:text="${session.unReadCount}">41</span>
                    </a>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">

                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" >
                        <span th:text="${session.user.getName()}"></span>
                        <span class="caret"></span>
                    </a>

                    <ul class="dropdown-menu">
                        <li><a th:href="@{/personal/questions}">我的提问</a></li>
                        <li><a th:href="@{/logout}">退出登录</a></li>
                    </ul>
                </li>
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=3b5993c41418af591fc3&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>


</body>
</html>