<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}">
    <script src="js/bootstrap.js"></script>

    <link rel="icon" type="image/x-icon" href="../static/image/favicon.ico">
    <!--my.css-->
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{/css/my.css}">
    <script src="../static/js/bootstrap.min.js"></script>

    <!---->




</head>
<body>

<script  type="application/javascript">
    window.onload= function () {
        var bool = window.localStorage.getItem("boolean");
        if(bool=="1")
        {
            alert("登录成功");
            window.location.href="about:blank";
            window.localStorage.removeItem("boolean")
            window.close();
        }

    }
</script>


<div th:replace="head::headbar"></div>




<!--流式布局-->
<div class="container-fluid main">
    <div class="row">
        <!--9-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h2>
                <div class="glyphicon glyphicon-th-list"></div>
                <span>发现</span>
            </h2>
            <hr/>

            <div class="media" th:each="question:${questionDTO}">

                <div class="media-left">
                        <a>
                            <img th:src="${question.user.avatarUrl}" alt="头像" class="img-circle"
                                 width="64px" height="64px"/>
                        </a>
                </div>

                <div class="media-right" style="color: #ac2925">
                    <a th:href="@{'/question/'+${question.id}}"><h4 class="media-heading" th:text="${question.title}"></h4></a>
                    <span th:text="${question.tag}"> </span> <br>

                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span><span>个回复• </span>
                        <span th:text="${question.viewCount}"></span><span>次浏览• </span>
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}">1 小时前</span>
                    </span>
                </div>

                <hr/>
            </div>
<!--分页开始-->
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">

                    <li>
                        <a th:href="@{/(pageNum=1,search=${search})}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="page:${midpage}"><a th:href="@{/(pageNum=${page},search=${search})}" th:text="${page}">1</a></li>
                    <li>
                        <a th:href="@{/(pageNum=${pages},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
<!--分页结束-->

        </div>


        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>最近热门</h2>
        </div>
    </div>
</div>

<div th:insert="~{foot :: foot}"></div>
</body>
</html>