<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}">
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"
            type="application/javascript"></script>
    <script src="js/bootstrap.js"></script>

    <link rel="icon" type="image/x-icon" href="../static/image/favicon.ico">
    <!--my.css-->
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{/css/my.css}">
    <script src="../static/js/editormd.min.js" th:href="@{/js/editormd.min.js}"></script>
    <link rel="stylesheet" href="../static/css/editormd.min.css" th:href="@{/css/editormd.min.css}">


</head>
<body>

<div th:replace="head::headbar"></div>

<!--流式布局-->
<div class="container-fluid main">
    <div class="row">
        <!--9-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${headingName=='我的提问'}">

            <h2>
                <div class="glyphicon glyphicon-th-list"></div>
                <span th:text="${headingName}"></span>
            </h2>
            <hr/>

            <div class="media" th:each="question:${questionDTO}">

                <div class="media-left">

                    <a>
                        <img th:src="${question.user.avatarUrl}" alt="头像" class="img-circle"
                             width="64px" height="64px"/>
                    </a>
                </div>

                <div class="media-right" style="color: #ac2925">
                    <a th:href="@{'/question/'+${question.id}}"><h4 class="media-heading"
                                                                    th:text="${question.title}"></h4></a>
                    <span th:text="${question.tag}"> </span> <br>

                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span><span>个回复• </span>
                        <span th:text="${question.viewCount}"></span><span>次浏览• </span>
                        <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}">1 小时前</span>
                    </span>
                </div>

                <hr/>
            </div>
            <!--分页开始-->
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">

                    <li>
                        <a th:href="@{/personal/questions(pageNum=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="page:${midpage}"><a th:href="@{/personal/questions(pageNum=${page})}"
                                                     th:text="${page}">1</a></li>

                    <li>
                        <a th:href="@{/personal/questions(pageNum=${pages})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>

        </div>


        <!--我的通知-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" th:if="${headingName=='我的通知'}">

            <h2>
                <div class="glyphicon glyphicon-th-list"></div>
                <span th:text="${headingName}"></span>
            </h2>
            <hr/>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
            <div class="media">
                <div th:each="no:${notifications}">
                    <div class="media-right">
                    <span class="text-desc">
                        <span th:text="${no.getNotifiername()}" style="color: #ac2925"></span>
                        <span th:text="${no.getTypeName()}"></span>
                        <a  th:href="@{'/notification/'+ ${no.id}}" th:text="${no.getOutertitle()}"></a>
                        <div>
                            <span style="line-height: 2;font-style: italic;color: blue;" th:text="${#dates.format(no.getGmtcreate(),'yyyy-MM-dd HH:mm')}"></span>
                        </div>
                         <span class="badge" style="float: left;" th:if="${no.status==0}">未读</span>
                    </span>
                    </div>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
                </div>
            </div>
</div>
            <hr/>

            <!--分页开始-->
            <nav aria-label="Page navigation" style="float: right">
                <ul class="pagination">

                    <li>
                        <a th:href="@{/personal/replies(pageNum=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <li th:each="page:${midpage}"><a th:href="@{/personal/replies(pageNum=${page})}"
                                                     th:text="${page}">1</a></li>

                    <li>
                        <a th:href="@{/personal/replies(pageNum=${pages})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                </ul>
            </nav>
        </div>
        <!--通知结束-->


        <!--9end-->
        <!--3-->
        <!--<span class="badge">14</span>-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

            <h2>最新消息</h2>
            <div class="list-group section">
                <a href="/personal/questions" class="list-group-item active">我的问题</a>
                <a href="/personal/replies" class="list-group-item">最新回复
                    <span class="badge" th:text="${session.unReadCount}"></span>
                </a>
            </div>
        </div>
        <!--3end-->
    </div>
</div>

</body>
</html>