<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}">
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"
            type="application/javascript"></script>
    <script src="/js/bootstrap.js"></script>

    <link rel="icon" type="image/x-icon" href="../static/image/favicon.ico">
    <!--my.css-->
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{/css/my.css}">

<!---->
    <script src="/js/myJs.js"></script>

    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="/js/editormd.min.js"></script>
    <script src="/js/image-dialog.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/image-dialog.js"></script>
    <link rel="stylesheet" href="/css/editormd.min.css">
    <!--pic-->


</head>
<body style="background-color: #efefed">

<div th:replace="head::headbar"></div>

<!--流式布局-->
<div class="container-fluid main">
    <div class="row">
        <!--9-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2>
                <div class="glyphicon glyphicon-plus"></div>
                发布问题
            </h2>
            <hr>

            <form action="/publish" method="post">

                <input type="hidden" name="_method" value="put" th:if="${updateid!=null}"/>
                <input type="hidden" name="updateid" th:if="${updateid!=null}" th:value="${updateid}">

                <div class="form-group">
                    <label for="title">*问题标题</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="请用一句话描述你的问题" required="true"
                           th:value="${title!=null}?${title}">
                </div>
                <div class="form-group" id="test-editor">
                    <!--<label for="title">*问题补充</label>-->
                    <textarea class="form-control" name="desc" id="desc" cols="30" rows="20" required="true"
                              th:text="${desc!=null}?${desc}" style="display: none"></textarea>
                </div>
                <!--js-->
                <script type="text/javascript">
                    $(function() {
                        var editor = editormd("test-editor", {
                            width  : "100%",
                            height : 450,
                            path   : "/js/lib/",
                            delay: true,
                            watch:false,
                            placeholder :"Enjoy Markdown! coding now...",
                            imageUpload          : true,          // Enable/disable upload
                            imageFormats         : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL       : "/pic/upload",             // Upload url
                        });
                    });
                </script>
                <!---->

                <!--test-->
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                           autocomplete="off"
                           placeholder="输入标签，以，号分隔"
                           onclick="showSelectTag()" required="true">
                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory: ${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info" th:each="selectTag: ${selectCategory.tags}">
                                    <span class="glyphicon glyphicon-tags" onclick="selectTag(this)"
                                          th:data-tag="${selectTag}"
                                          th:text="${' '+selectTag}">
                                    </span>
                                </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end t-->

                <div th:if="${error!=null}">
                    <div class="alert alert-danger" th:text="${error}"></div>
                </div>
                <button type="submit" class="btn btn-success btn-publish"
                        th:text="${updateid!=null}?'修改' : '发布'"></button>

            </form>
        </div>
        <!--9 end-->


        <!--3-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            </br>
            </br>
            <div class="text-center">
                <h2>问题发布指南</h2>
            </div>

            <h3>• 问题标题:</h3>
            标题不能为空且长度不能超过30个字符 <br>
            <h3>• 问题补充:</h3>
            可添加具体代码或者上传图片来具体描述出现的问题，为方便回答者更了解出现的问题<br>
            <h3>• 选择标签:</h3>
            对问题进行贴上标签，用以描述问题属于哪种问题<br>
        </div>
    </div>
</div>

<div th:insert="~{foot :: foot}"></div>
</body>
</html>