<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <script src="/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css" th:href="@{/css/bootstrap-theme.css}">
    <script src="/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"
         ></script>
    <script src="js/bootstrap.js"></script>

    <link rel="icon" type="image/x-icon" href="../static/image/favicon.ico">
    <!--my.css-->
    <link rel="stylesheet" href="../static/css/my.css" th:href="@{/css/my.css}">
    <script src="/js/myJs.js"></script>
    <script src="../static/js/moment.js" th:src="@{/js/moment.js}"></script>
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/editormd.min.js"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>





</head>
<body>

<div th:replace="head::headbar"></div>

<!--流式布局-->
<div class="container-fluid main">
    <div class="row">
        <!--9-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

            <h4>
                <div class="glyphicon glyphicon-search">
                    <span th:text="${questionDTO.title}"></span>
                </div>
            </h4>
            <br/>
            <span class="text-desc">
                        作者：<span th:text="${questionDTO.user.name}"></span>
                        |阅读数：<span th:text="${questionDTO.viewCount}"></span><span>次浏览• </span>
                        |发布时间：<span th:text="${#dates.format(questionDTO.gmtCreate,'yyyy-MM-dd HH:mm')}">1 小时前</span>
                    <br/>
                <span></span>
            </span>


            <!--description-->
            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:text="${questionDTO.description}"></div>-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="test-markdown-view">
                <!-- Server-side output Markdown text -->
                <textarea style="display:none;" th:text="${questionDTO.description}"></textarea>
            </div>

            <!--js-->
            <script type="text/javascript">
                $(function() {
                    var testView = editormd.markdownToHTML("test-markdown-view", {
                        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                        // htmlDecode : true,  // Enable / disable HTML tag encode.
                        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                    });
                });
            </script>
            <!---->

            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>
            <!--tag-->
            <div>

                 <span class="label label-info " th:each="tag : ${questionDTO.tag.split(',')}"
                       style="margin-left: 15px">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span class="label label-info" style="color:rebeccapurple" th:text="${tag}"></span>
               </span>
            </div>
            <!--tag end-->
            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"/>

            <!--编辑-->
            <a class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mycolor" th:href="@{/publish/}+${questionDTO.id}"
               th:if="${session.user!=null && questionDTO.creator==session.user.id}">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                编辑
            </a>


            <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                th:if="${session.user!=null && questionDTO.creator==session.user.id}"/>

            <h4 th:text="${commentLists.size()}+'条回复'"></h4>
            <!--回复列表-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="commentList:${commentLists}">

                <div>
                    <div class="media-left">
                        <a>
                            <img th:src="${commentList.user.avatarUrl}" alt="头像" class="img-circle"
                                 width="64px" height="64px"/>
                        </a>
                        <span th:text="${commentList.user.name}" class="mycolor"></span>
                    </div>
                    <div th:text="${commentList.content}">回复内容</div>
                    <span th:text="${#dates.format(commentList.gmtCreate,'yyyy-MM-dd HH:mm')}"
                          class="btn-publish"></span>
                    <div class="mycolor">
                        <!--点赞 评论 时间-->
                        <!--<a href="#" class="btn btn-primary" role="button" data-toggle="collapse" aria-expanded="false"-->
                        <!--aria-controls="collapseExample">-->
                        <!--<span class="glyphicon glyphicon-thumbs-up"></span>-->
                        <!--</a>-->

                        <!--<a href="#" th:data-id="${commentList.id}" class="btn btn-primary" role="button"-->
                        <!--data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample">-->
                        <!--<span class="glyphicon glyphicon-comment" style="margin-left: 10px"></span>-->
                        <!--</a>-->
                        <!--<button type="button" class="btn btn-success btn-publish" onclick="postComment();">回复</button>-->

                        <span class="glyphicon glyphicon-thumbs-up icon"></span>
                        <span th:data-id="${commentList.id}"
                              onclick="collapseComments(this)" class="comment-icon">
                                    <span class="glyphicon glyphicon-comment"></span>
                                    <span th:text="${commentList.commentcount}"></span>
                                </span>
                        <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    </div>
                    <!--下拉   二级回复-->

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse  sub-comments "
                         th:id="${'comment-'+commentList.id}">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" class="form-control" placeholder="说点什么  …" style="margin-top: 20px"
                                   th:id="${'input-'+commentList.id}">
                            <button type="button" class="btn btn-success pull-right" onclick="comment(this)"
                                    style="margin-top: 15px"
                                    th:data-id="${commentList.id}"><span>评论</span>
                            </button>

                        </div>
                    </div>

                </div>
                <!--<span th:text="${#dates.format(commentList.gmtCreate,'yyyy-MM-dd HH:mm')}" class="btn-publish"></span>-->
            </div>


            <!--回复功能-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="IdUserToClose">

                <div>
                    <div class="media-left" th:if="${session.user!=null}">
                        <a>
                            <img th:src="${session.user.avatarUrl}" alt="头像" class="img-circle"
                                 width="64px" height="64px"/>
                        </a>
                        <span th:text="${session.user.name}"></span>
                    </div>
                </div>
                <textarea class="form-control" id="comment-textarea" rows="3" style="margin: 10px"></textarea>
                <input type="hidden" id="questionId" th:value="${questionDTO.id}">
                <button type="button" class="btn btn-success btn-publish" onclick="postComment();">回复</button>


            </div>


        </div>
        <!--9end-->


        <!--3-->
        <!--<span class="badge">14</span>-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

            <!--上-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4 class="mycolor">发起人</h4>

                <div class="media">

                    <div class="media-left">
                        <a>
                            <img th:src="${questionDTO.user.avatarUrl}" alt="头像" class="img-circle"
                                 width="64px" height="64px"/>
                        </a>
                    </div>

                    <div class="media-right" style="color: #ac2925">
                        <span th:text="${questionDTO.user.name}"> </span> <br>

                        <span class="text-desc">
                        </span>
                    </div>

                    <hr/>

                </div>
            </div>

            <!--上end-->
            <!--下-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <h4 class="mycolor">相关问题</h4>
                <ul style="line-height: 28px;font-size: 16px;margin-left: 0;list-style: none;padding-left: 0;">
                    <li th:each="related:${relatedQuestions}">
                        <a th:href="@{'/question/'+${related.id}}" th:text="${related.title}"></a>
                    </li>
                </ul>

            </div>
            <!--下end-->

        </div>

    </div>
    <!--3end-->

</div>

<div th:insert="~{foot :: foot}"></div>
</body>
</html>